* {
    font-family: sans-serif;
}

body {
    width: 50%;
    margin: 0 auto;
}

p {
    text-align: justify;
}

form {
    margin: 0 auto;
    width: 40%;
    border: 1px solid black;
    border-radius: 1em;
    background-color: aliceblue;
    padding: 2em;
}

form h2 {
    margin-top: 0;
}

button {
    margin-top: 1em;
}

.campo {
    margin-bottom: 1em;
}